PORTAL_BASE_URL=https://replace-with-base-url
PORTAL_LOGIN_PATH=/replace-with-login-path

CRM_BASE_URL=https://replace-with-crm-url

PORTAL_USERNAME=replace-with-username
PORTAL_PASSWORD=replace-with-password

CRM_USERNAME=replace-with-crm-username
CRM_PASSWORD=replace-with-crm-password